extends layout
block content
  .content
    .page-header
      h1 User Management
    input(type='text', placeholder='regex filter')
    h2 Users
    #userlist
    | <script language='javascript'>
    !=   "var users =" + JSON.stringify(users) + ";"
    | </script>
    script(language='javascript', src='/javascripts/userman.js')


        

