h1= title

form#create-org(action='/orgs', method='POST')
  input(type='hidden', name='_method', value='PUT')
  p
    label(for='name') Name:
    input(type='text', name='name')#name

  p
    label(for='slug') Slug:
    input(type='text', name='slug')#slug

  p
    label(for='desc') Description:
    textarea(name='desc', rows=4, cols=80)#desc

  input(type='submit', value='Create Org')
