.content
  .page-header
    h2 Create Event
  
  form#create-event(action='/events', method='POST').main-form
    label(for='title') Title
    .input
      input(type='text', name='title')#title

    label(for='org') Organization
    .input
      select(name='org')
        each org in orgs
          option(value= org.id)= org.name

    label(for='start_time') Start time
    .input
      input(type='text', name='start_time')#start_time

    label(for='end_time') End time
    .input
      input(type='text', name='end_time')#end_time

    label(for='desc') Description
    .input
      textarea(name='desc', rows=4, cols=80)#desc

    .actions
      input(type='submit', value='Create Event').btn.primary

  
script(type='text/javascript')
    $(function() {
        $('#name').focus();
        var dp_opts = {
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        };
        $('#start_time').datepicker(dp_opts);
        $('#end_time').datepicker(dp_opts);
    });
