.content
  .page-header
    h2 Create Org
  
  form#create-org(action='/orgs', method='POST').main-form
    label(for='name') Name:
    .input
      input(type='text', name='name')#name
  
    label(for='slug') Slug:
    .input
      input(type='text', name='slug')#slug
  
    label(for='desc') Description:
    .input
      textarea(name='desc', rows=4, cols=80)#desc
  
    .actions
      input(type='submit', value='Create Org').btn.primary


script(type='text/javascript')
    $(function() {
        $('#name').focus();
    });
