h1= title

form#create-org(action='/orgs', method='POST')
    div
        label(for='name') Name:
        input(type='text', name='name')

    div
        label(for='desc') Description:
        textarea(name='desc', rows=4, cols=80)

    input(type='hidden', name='_method', value='PUT')
    input(type='submit', value='Create org')
