.content
  .page-header
    if (user && user.is_admin) || user_is_admin
      a(href='/create-event/').pull-right.btn Create an event
    if req.query.before
      h1 Older Events
    else if req.query.after
      h1 Later Events
    else
      h1 All Events

  each event in events
    h2
      a(href='/events/' + event.id)= event.title
      small= event.org.name
    p(title=event.start_time)= alcohol(event.start_time)

  .row
    .span2
      if !req.query.before || events.length > 1
        a(href='/events?before=' + events[events.length - 1].id) Older Events
    .span2.offset12
      if !req.query.after || events.length > 1
        a(href='/events?after=' + events[0].id).pull-right Later Events