.content
  .page-header
    if (user && user.is_admin) || user_is_admin
      a(href='/create-event/').pull-right.btn Create an event
    if req.query.before
      h1 Older Events
    else if req.query.after
      h1 Later Events
    else
      h1 All Events

  each event in events
    h2
      a(href='/events/' + event.id)= event.title
      small= event.org.name
    p(title=event.start_time)= alcohol(event.start_time)

  .row.foot-actions
    .span2
      if !req.query.before && !req.query.after
        a(href='/events?before=' + events[0].id) &laquo Older Events
      else if !req.query.before || events.length > 1
        a(href='/events?before=' + events[events.length - 1].id) &laquo Older Events
      else
        p
    .span2.offset12
      if !req.query.before && !req.query.after
        a(href='/events?after=' + events[events.length - 1].id).pull-right Later Events &raquo
      else if !req.query.after || events.length > 1
        a(href='/events?after=' + events[events.length - 1].id).pull-right Later Events &raquo
      else
        p