!!!
html
  head
    title Attendance
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
  body
    #header
      h1
        a(href='/') Attendance
      if everyauth.loggedIn
        p Hello, #{user.name.first} (#{user.gt_userid}) 
          a(href='/logout') Logout
      else
        p
          a(href='/login') Login
        p
          a(href='/register') Register
    #content!= body
