!!!
html
  head
    title Attendance
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      h1 Attendance
      if everyauth.loggedIn
        p Hello, #{user.name.first} (#{user.gt_userid})
      else
        a(href='/login') Login
    #content!= body