!!!
html
  head
    title Attendance
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      h1
        a(href='/') Attendance
      if everyauth.loggedIn
        p Hello, #{user.name.first} (#{user.gt_userid}) 
          a(href='/logout') Logout
      else
        p
          a(href='/login') Login
        p
          a(href='/register') Register
    #content!= body
