!!! 5
html
  head
    title Attendance
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  body
    #header
      nav
        ul#list-nav
          li
            a(href='/') Home
          li
            a(href='/orgs') Orgs
          li
            a(href='/events') Events
          if everyauth.loggedIn
            li.right
              a(href='/logout') Logout
            if user && user.name
              li.right
                p Welcome, #{user.name.first}
          else
            li.right
              a(href='/login') Login
    #flash
      each msgs, type in flash_messages
        ul(class=type)
          each msg in msgs
            li= msg
    #content!= body
