.errors
  if typeof errors != 'undefined'
    ul
      each error in errors
        li= error

h1 Login

form(action='/login', method='POST')
  p
    label(for='login') GT User ID
    input(type='text', name=everyauth.password.loginFormFieldName)#login
  p
    label(for='password') Password
    input(type='password', name=everyauth.password.passwordFormFieldName)#password
  p
    input(type='submit', value='Login')

script(type='text/javascript')
    $(function() {
        $('#login').focus();
    });
