if typeof errors != 'undefined'
  each error in errors
    .alert-message.error(data-alert="alert")
      a(href='#').close ×
      p
        strong= error

.content
  .page-header
    h2 Login

  form(action='/login', method='POST')
    input(type='hidden', name='next', value=next)
          
    .clearfix
      label(for='login') GT User ID
      .input
        input(type='text', name=everyauth.password.loginFormFieldName)#login

    .clearfix
      label(for='password') Password
      .input
        input(type='password', name=everyauth.password.passwordFormFieldName)#password

    .actions
      input(type='submit', value='Login').btn.primary
      a(href='/register').btn Register
      a(href='/recover').btn I forgot my credentials!

script(type='text/javascript')
    $(function() {
        $('#login').focus();
    });
