a(href='/create-org/') Create an org

h1= title

if (typeof flash != 'undefined')
  p= flash

if (typeof orgs != 'undefined')
  each org in orgs
    .org
      h2
        a(href='/orgs/' + org.slug)= org.name
      p= org.desc
