extends layout
block content
  .content
    .page-header
      h2 Reset Password

    form(action=req.url, method='POST')
      input(type='hidden', name='_csrf', value=req.session._csrf)
      .clearfix
        label(for='password') New Password:
        .input
          input(type='password', name='password')#password

      .actions
        input(type='submit', value='Reset Password').btn.primary
