body {
    background: #EEE;
}

#content {
    background: #FFF;
    padding: 50px 20px 20px;
    border: 1px #DDD solid;
}

p {
    font-size: 110%;
}

.topbar input {
    margin-right: 3px;
}

.topbar button {
    margin-left: 2px;
}

.page-header .btn {
    margin-top: 4px;
}

h2 form {
    margin-top: 4px;
}

h2 small {
    margin-left: 8px;
}

.main-form .input {
    margin-bottom: 6px;
}